@import url('../../../assets/css/colours.css');
@import url('../../../assets/css/icons.css');

.topbar {
  z-index: 0;
  top: 0px;
  left: 72px;
  height: 62px;
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
  display: block;
  margin-bottom: 0;
  padding: 0;
  transition: width 0.5s linear 0s;
  position: fixed;
  width: calc(100% - 72px);
}

.topbar-collapsed {
  z-index: 0;
  transition: width 0.2s linear 0s;
  top: 0px;
  left: 254px;
  height: 62px;
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
  display: block;
  margin-bottom: 0;
  padding: 0;
  position: fixed;
  width: calc(100% - 254px);
}

.topbar-left {
  z-index: 0;
  width: 15%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.topbar-right {
  z-index: 0;
  width: 85%;
  height: 100%;
  text-align: right;
  position: absolute;
  left: 15%;
  top: 0px;
}

.topbar-link {
  font-size: 15px;
  color: #444444;
  text-decoration: none;
}

.topbar-link:hover {
  font-size: 15px;
  color: #111111;
  text-decoration: none;
  cursor: pointer;
}

.topbar-icon {
  vertical-align: middle;
  border-radius: 6px;
  display: inline-block;
  font-size: 17px;
  height: 35px;
  top: 20px;
  line-height: 35px;
  position: relative;
  text-align: center;
  width: 35px;
}

.topbar-counter {
  background-color: #ff0000;
  border-radius: 50px;
  color: #ffffff;
  font-size: 10px;
  line-height: 1;
  padding: 3px 5.5px;
  position: relative;
  right: -35px;
  top: 10px;
}

.topbar-right-alert {
  height: 100%;
  left: 0px;
  width: 75%;
  top: 0px;
  position: absolute;  
}

.topbar-right-user-info {
  height: 100%;
  left: 75%;
  top: 0px;
  position: relative;
  width: 25%;
}

.topbar-right-user {  
  text-align: center;
  color: #000000;
  height: 100%;
  width: 70%;
  position: absolute;
  top: 20px;
  left: 30%;
  font-size: 14px;
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  white-space: nowrap;
}

.topbar-right-info {
  color: #ffffff;
  height: 100%;
  width: 30%;
  position: relative;
  left: 0px; 
}

img.topbar-right-info {
  border-radius: 50% !important;
  vertical-align: middle;
  height: 32px;
  width: 32px;
  position: relative;
  left: 0px;
  top: 15px;
}

.topbar-user-menu {
  position: relative;
  visibility: hidden;
  opacity: 0;
  transition: width 0.5s linear 0s;
  left: 80%;
  top: -15px;
  height: 70px;
  width: 160px;
  background: #ffffff;
  border: 1px solid #dddddd;
}

.topbar-user-menu-visible {
  position: relative;
  visibility: visible;
  left: 80%;
  top: -15px;
  height: 70px;
  width: 160px;
  background: #ffffff;
  opacity: 1;
  transition: width 0.5s linear 0s;
  border: 1px solid #dddddd;
}

.topbar-user-menu-link {
  position: absolute;
  font-size: 15px;
  color: #777777;
  text-decoration: none;
  text-align: left;
  width: 100%;
  left: 0px;
  top: 0px;
  font-size: 14px;
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

.topbar-user-menu-link:hover {
  position: absolute;
  font-size: 15px;
  color: #111111;
  text-decoration: none;
  text-align: left;
  left: 0px;
  width: 100%;
  top: 0px;
  font-size: 14px;
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  cursor: pointer;
}

.topbar-user-menu-item {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 35px;
  background: #ffffff;
  border-bottom: 1px solid #dddddd;
}

.topbar-user-menu-item-logo {
  position: relative;
  left: 0px;
  top: 0px;
  width: 20%;
  height: 100%;
  background: #ffffff;
}

.topbar-user-menu-item-text {
  position: absolute;
  left: 20%;
  top: 8px;
  height: 27px;
  width: 80%;
  background: #ffffff;
}

.topbar-user-menu-icon {
  vertical-align: middle;
  border-radius: 6px;
  display: inline-block;
  font-size: 17px;
  height: 35px;
  line-height: 35px;
  position: relative;
  text-align: center;
  width: 35px;
}

.topbar-alert-menu {
  position: absolute;
  visibility: hidden;
  opacity: 1;
  transition: width 0.5s linear 0s;
  left: 73%;
  top: 50px;
  width: 260px;
  background: #ffffff;
  border: 1px solid #dddddd;
}

.topbar-alert-menu-visible {
  position: absolute;
  visibility: visible;
  left: 73%;
  top: 50px;
  width: 260px;
  background: #ffffff;
  opacity: 1;
  transition: width 0.5s linear 0s;
  border: 1px solid #dddddd;
}

.topbar-alert-menu-link {
  position: absolute;
  font-size: 15px;
  color: #777777;
  text-decoration: none;
  text-align: left;
  width: 100%;
  left: 0px;
  top: 0px;
  font-size: 12px;
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

.topbar-alert-menu-link:hover {
  position: absolute;
  font-size: 15px;
  color: #111111;
  text-decoration: none;
  text-align: left;
  left: 0px;
  width: 100%;
  top: 0px;
  font-size: 12px;
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  cursor: pointer;
}

.topbar-alert-menu-item {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 35px;
  background: #ffffff;
}

.topbar-alert-menu-footer {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 35px;
  background: #ffffff;
  border-top: 1px solid #dddddd;
}

.topbar-alert-menu-header {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 35px;
  background: #ffffff;
  border-bottom: 1px solid #dddddd;
}


.topbar-alert-menu-item-logo {
  position: relative;
  left: 0px;
  top: 0px;
  width: 20%;
  height: 100%;
  background: #ffffff;
}

.topbar-alert-menu-item-text {
  position: absolute;
  left: 20%;
  top: 8px;
  height: 27px;
  width: 80%;
  background: #ffffff;
}

.topbar-alert-menu-item-title {
  position: absolute;
  font-weight: bold;
  left: 20%;
  top: 8px;
  height: 27px;
  width: 80%;
  background: #ffffff;
}

.topbar-alert-menu-icon {
  vertical-align: middle;
  border-radius: 6px;
  display: inline-block;
  font-size: 17px;
  height: 35px;
  line-height: 35px;
  position: relative;
  text-align: center;
  width: 35px;
}
