.icon-red {
    color: #ff0000;
}

.icon-green {
    color: #009100;
}

.icon-blue {
    color: #0000c1;
}

.icon-yellow {
    color: #ffff66;
}

.icon-orange {
    color: #ffa332;
}

.icon-brown {
    color: #803400;
}

.icon-purple {
    color: #800080;
}

.icon-gray {
    color: #898989;
}

.icon-light-gray {
    color: #9a9a9a;
}
.icon-black {
    color: #000000;
}